<!--     <!--pricing start-->
        <section id="pricing" class="pricing-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 center-title">
                        <i class="icon-pricetags"></i>
                        <h2>Choose a plan</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias.</p>                                     
                    </div>
                </div><!--center title row end--> 
                <div class="row">
                    <div class="col-sm-4">
                        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.1s">
                            <i class="icon-phone"></i>
                            <h3>Single Application</h3>
                            <div class="price">
                                <sup>$</sup>19
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                            <a href="#" class="btn btn-lg btn-default btn-radius">Learn More</a>
                        </div><!--price box end-->
                    </div><!--price col end-->
                    <div class="col-sm-4">
                        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.2s">
                            <i class="icon-tablet"></i>
                            <h3>Multi Application</h3>
                            <div class="price">
                                <sup>$</sup>40
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                            <a href="#" class="btn btn-lg btn-default btn-radius">Learn More</a>
                        </div><!--price box end-->
                    </div><!--price col end-->
                    <div class="col-sm-4">
                        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.3s">
                            <i class="icon-laptop"></i>
                            <h3>Extended</h3>
                            <div class="price">
                                <sup>$</sup>599
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                            <a href="#" class="btn btn-lg btn-default btn-radius">Learn More</a>
                        </div><!--price box end-->
                    </div><!--price col end-->
                </div>
            </div>
        </section>
        <!--pricing end--> -->



         <!--services-->
        <section id="services" class="services-section">
             <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 center-title">
                        <i class="icon-bike"></i>
                        <h2>What we do?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias.</p>                                     
                    </div>
                </div><!--center title row end-->
             </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <ul class="list-inline text-center tabs-navigation" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#ui" aria-controls="ui" role="tab" data-toggle="tab"><span><i class="icon-pencil"></i></span> UI / UX Design</a>
                            </li>
                             <li role="presentation">
                                <a href="#responsive" aria-controls="responsive" role="tab" data-toggle="tab"><span><i class="icon-mobile"></i></span>Responsive Design</a>
                            </li>
                             <li role="presentation">
                                <a href="#develop" aria-controls="develop" role="tab" data-toggle="tab"><span><i class="icon-speedometer"></i></span>Web development</a>
                            </li>
                             <li role="presentation">
                                <a href="#seo" aria-controls="seo" role="tab" data-toggle="tab"><span><i class="icon-search"></i></span>Seo</a>
                            </li>
                        </ul>
                    </div>
                </div><!--tabs header row end-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-content service-tab-content">
                            <div role="tabpanel" class="tab-pane active" id="ui">
                                <div class="row vertical-align-child">
                                   
                                     <div class="col-sm-6 hidden-xs animated fadeInLeft">
                                         <img src="images/ipad.png" alt="" class="img-responsive"> 
                                     </div>
                                     <div class="col-sm-5 col-sm-offset-1 text-left animated fadeInUp">
                                         <h1>UI/UX Design</h1>
                                         <p>
                                             Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Sed ut perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
                                         </p>
                                    </div>
                                </div>
                            </div><!--tab content end-->
                             <div role="tabpanel" class="tab-pane" id="responsive">
                                 <div class="row vertical-align-child">
                                    <div class="col-sm-5 col-sm-offset-1 text-left animated fadeInUp">
                                         <h1>Responsive design</h1>
                                         <p>
                                             Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Sed ut perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
                                         </p>
                                    </div>
                                     <div class="col-sm-6 hidden-xs animated fadeInRight">
                                         <img src="images/mockup-1.png" alt="" class="img-responsive"> 
                                     </div>
                                </div>
                            </div><!--tab content end-->
                              <div role="tabpanel" class="tab-pane" id="develop">
                                 <div class="row vertical-align-child">
                                   
                                     <div class="col-sm-6 hidden-xs animated fadeInLeft">
                                         <img src="images/wide_shot_1.png" alt="" class="img-responsive"> 
                                     </div>
                                     <div class="col-sm-5 col-sm-offset-1 text-left animated fadeInUp">
                                         <h1>Web Development</h1>
                                         <p>
                                             Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Sed ut perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
                                         </p>
                                    </div>
                                </div>
                            </div><!--tab content end-->
                              <div role="tabpanel" class="tab-pane" id="seo">
                                  <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3 text-center animated fadeInUp">
                                         <h1>Seo ready</h1>
                                         <p>
                                             Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Sed ut perspiciatis unde omnis iste natus error sit voluptatem dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
                                         </p>
                                    </div>
                                </div>
                            </div><!--tab content end-->
                        </div>
                    </div>
                </div>
             </div>
        </section>
        <!--end services-->







        <!-- testimonials-->

          <div class="col-sm-8 col-sm-offset-2 center-title">
                        <i class="icon-quote"></i>
                        <h2>Testimonials</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias.</p>
                    </div>
                </div><!--center title row end-->
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="testi-box left clearfix wow animated fadeInDown" data-wow-delay="0.1s">
                            <span class="thumb">
                                <img src="images/t-1.jpg" class="img-circle img-responsive" alt="">
                            </span>
                            <div class="testi-text">
                                <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias. "</p>
                                <h4>John Doe</h4>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                </span>
                            </div>                           
                        </div><!--testi box end-->
                        <div class="testi-box left clearfix wow animated fadeInDown" data-wow-delay="0.2s">
                            <span class="thumb">
                                <img src="images/t-2.jpg" class="img-circle img-responsive" alt="">
                            </span>
                            <div class="testi-text">
                                <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias. "</p>
                                <h4>John Doe</h4>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                </span>
                            </div>                           
                        </div><!--testi box end-->
                    </div><!--col end-->
                    <div class="col-sm-6 ">
                        <div class="testi-box right clearfix wow animated fadeInDown" data-wow-delay="0.3s">
                            <span class="thumb">
                                <img src="images/t-2.jpg" class="img-circle img-responsive" alt="">
                            </span>
                            <div class="testi-text">
                                <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias. "</p>
                                <h4>John Doe</h4>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                </span>
                            </div>                           
                        </div><!--testi box end-->
                        <div class="testi-box right clearfix wow animated fadeInDown" data-wow-delay="0.4s">
                            <span class="thumb">
                                <img src="images/t-1.jpg" class="img-circle img-responsive" alt="">
                            </span>
                            <div class="testi-text">
                                <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias. "</p>
                                <h4>John Doe</h4>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                </span>
                            </div>                           
                        </div><!--testi box end-->
                    </div><!--col end-->
                </div>
            </div>
        </section>