/* 
    Created on : 2 Oct, 2015, 7:52:36 AM
    Author     : RAKESH
    File       : Assan  landing template
    version    : v1.0
*/
/**google font**/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
/**colors**/
.red {
  color: #f55b63; }

.green {
  color: #bce13b; }

.blue {
  color: #42a3ee; }

.yellow {
  color: #e6e837; }

.gold {
  color: #e8c537; }

body, html {
  height: 100%; }

body {
  font-family: "Arimo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #aeaeae;
  background-color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  font-weight: normal; }

p {
  font-family: "Arimo", sans-serif; }

a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #f56363; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #f56363; }

button {
  border: 0px; }
  button:focus {
    outline: 0 !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

hr.separator {
  border-top: 1px solid #f56363;
  margin: 10px auto;
  width: 80px; }

.margin-b-30 {
  margin-bottom: 30px; }

/**spaces**/
.space-20 {
  width: 100%;
  height: 20px;
  clear: both; }

.space-30 {
  width: 100%;
  height: 30px;
  clear: both; }

.space-40 {
  width: 100%;
  height: 40px;
  clear: both; }

.space-50 {
  width: 100%;
  height: 50px;
  clear: both; }

.space-60 {
  width: 100%;
  height: 60px;
  clear: both; }

@media (min-width: 768px) {
  .vertical-align-child {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row; } }
.center-title {
  text-align: center;
  margin-bottom: 50px; }
  .center-title h2 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
    color: #000; }
  .center-title p {
    font-size: 15px;
    line-height: 30px;
    font-family: "Arimo", sans-serif; }
  .center-title i {
    color: #f56363;
    font-size: 30px;
    margin-bottom: 20px;
    display: block; }

/***buttons***/
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: normal;
  font-size: 13px;
  border: 0px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif; }
  .btn i {
    margin-left: 5px; }
  .btn.btn-radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .btn.btn-lg {
    padding: 15px 40px; }

.btn-skin {
  background-color: #f56363;
  color: #fff; }
  .btn-skin:hover, .btn-skin:focus {
    color: #fff;
    background-color: #444; }

.btn-dark {
  background-color: #333;
  color: #fff; }
  .btn-dark:hover, .btn-dark:focus {
    color: #fff;
    background-color: #f56363; }

.btn-default {
  background-color: #f3f3f3;
  color: #777; }
  .btn-default:hover, .btn-default:focus {
    color: #fff;
    background-color: #333; }

.btn-white {
  background-color: #fff;
  color: #333; }
  .btn-white:hover, .btn-white:focus {
    color: #fff;
    background-color: #333; }

/***header style 1**/
.header-v1 {
  padding: 10px 0;
  border: 0px;
  background-color: transparent;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .header-v1 .navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 35px;
    color: #fff;
    text-transform: lowercase;
    font-weight: 700;
    line-height: 20px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    font-family: "Poppins", sans-serif; }

.header-v1.sticky {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0px 0px; }

.header-v1 .navbar-nav > li > a {
  color: #eee;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Arimo", sans-serif; }
  .header-v1 .navbar-nav > li > a:hover {
    color: #f56363; }

.header-v1.sticky .navbar-nav > li > a {
  color: #999;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Arimo", sans-serif; }

.header-v1 .navbar-nav > .active > a, .header-v1 .navbar-nav > .active > a:focus, .header-v1 .navbar-nav > .active > a:hover {
  color: #f56363;
  background-color: transparent; }

.header-v1.sticky .navbar-nav > .active > a, .header-v1.sticky .navbar-nav > .active > a:focus, .header-v1.sticky .navbar-nav > .active > a:hover {
  color: #f56363;
  background-color: transparent; }

.header-v1 .navbar-brand {
  color: #fff; }

.header-v1.sticky .navbar-brand {
  color: #333; }

@media (min-width: 992px) {
  .header-v1 .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -65px !important;
    top: 10px; }

  .header-v1.sticky .navbar-brand {
    top: 5px; } }
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px; }

  .navbar-right li.button-nav a {
    background-color: #f56363;
    color: #fff;
    padding: 8px 15px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px; }
    .navbar-right li.button-nav a:hover, .navbar-right li.button-nav a:focus {
      background-color: #333;
      color: #fff !important; }

  .header-v1.sticky .navbar-right li.button-nav a {
    color: #fff; } }
/***header v2 using into newsletter form home section**/
.header-v2 {
  margin-bottom: 0px;
  border: 0px;
  background-color: #fff; }
  .header-v2 .navbar-brand {
    color: #f56363;
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .header-v2 .socials li a {
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 30px; }
    .header-v2 .socials li a:hover {
      color: #f56363; }

.header-v2 .navbar-nav > li > a {
  color: #777;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Arimo", sans-serif; }

.header-v2 .navbar-nav > .active > a, .header-v2 .navbar-nav > .active > a:focus, .header-v2 .navbar-nav > .active > a:hover {
  color: #f56363;
  background-color: transparent; }

.headroom {
  -moz-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  transition: transform 200ms linear; }

.headroom--pinned {
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

.headroom--unpinned {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

@media (max-width: 767px) {
  .navbar-nav {
    background-color: #333;
    margin: 0px; }

  .header-v1 .navbar-toggle {
    border: 0px;
    margin-top: 15px; }

  .header-v1 .navbar-toggle:focus, .header-v1 .navbar-toggle:hover {
    background-color: transparent; }

  .header-v1 .navbar-collapse, .header-v1 .navbar-form {
    border: 0px; }

  .header-v2 .navbar-nav {
    background-color: transparent; } }
/**price tables**/
.pricing-section {
  padding: 80px 0;
  padding-bottom: 50px;
  background-color: #fff; }

.price-box {
  padding: 25px 40px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .price-box i {
    display: block;
    font-size: 80px;
    line-height: 80px;
    color: #eee; }
  .price-box h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
    margin-top: 25px; }
  .price-box .price {
    color: #f56363;
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    margin: 20px 0;
    font-family: "Poppins", sans-serif; }
    .price-box .price sup, .price-box .price sub {
      font-size: 13px; }
    .price-box .price sup {
      vertical-align: top;
      top: 10px; }
  .price-box p {
    font-size: 14px;
    margin-bottom: 30px; }
  .price-box:hover {
    background-color: #f56363; }
    .price-box:hover h3 {
      color: #fff; }
    .price-box:hover i {
      color: #fff;
      opacity: 0.5; }
    .price-box:hover .price {
      color: #fff; }
    .price-box:hover p {
      color: #eee; }

.cta {
  padding: 80px 0; }
  .cta h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .cta p {
    color: #eee;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 26px; }

/**tabs**/
.tabs-navigation {
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd; }
  @media (min-width: 768px) {
    .tabs-navigation li + li {
      margin-left: 40px; } }
  .tabs-navigation li {
    margin-bottom: 30px; }
    .tabs-navigation li a {
      display: block;
      color: #777; }
      .tabs-navigation li a span {
        display: block;
        width: 90px;
        height: 40px;
        text-align: center;
        background-color: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        font-size: 30px;
        margin: 10px auto; }
    .tabs-navigation li.active a {
      color: #f56363; }
      .tabs-navigation li.active a span {
        color: #f56363;
        background-color: transparent; }

.service-tab-content h1 {
  text-transform: uppercase;
  color: #333; }

.footer {
  background-color: #323a45;
  padding-top: 60px; }
  .footer h2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px; }
  .footer p {
    color: #ced3d8;
    font-size: 15px; }
  .footer ul li {
    padding-bottom: 20px; }
    .footer ul li i {
      float: left;
      color: #fff;
      font-size: 30px;
      margin-right: 20px; }
    .footer ul li span {
      display: block;
      overflow: hidden;
      color: #ced3d8;
      font-size: 16px; }
  .footer ul.list-inline li {
    padding: 0px; }
    .footer ul.list-inline li a {
      margin: 5px; }
      .footer ul.list-inline li a i {
        color: #a4a4a4;
        margin: 0px;
        font-size: 30px; }
    .footer ul.list-inline li:hover i {
      color: #f56363; }
  .footer .footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .footer-bottom .list-inline li a {
      color: #fff;
      font-weight: 400;
      text-transform: uppercase; }
      .footer .footer-bottom .list-inline li a:hover {
        color: #f56363; }

.banner-intro {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: table; }
  .banner-intro .banner-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    opacity: 1; }
  .banner-intro h1 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 60px; }
  .banner-intro p.lead {
    color: #fff;
    font-size: 15px; }
  .banner-intro .banner-buttons {
    margin-top: 30px; }
    .banner-intro .banner-buttons a {
      margin: 5px; }
      .banner-intro .banner-buttons a i {
        margin-left: 5px; }

/***banner home newsletter****/
.home-newsletter {
  background: url(../images/bgbg.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  padding-top: 250px;
  padding-bottom: 200px; }
  .home-newsletter h2 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize; }
  .home-newsletter p {
    color: #fff;
    font-size: 18px; }
  .home-newsletter .form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 0px;
    height: 47px; }
  .home-newsletter .error {
    border-color: #b92c28;
    color: #b92c28; }
  .home-newsletter .success {
    border-color: #5cb85c;
    color: #5cb85c; }

/****banner contact form**/
.home-contact {
  background: url(../images/bgbg.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 100px; }
  .home-contact .contact-home-text {
    padding: 100px 0; }
    .home-contact .contact-home-text h4 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 25px; }
    .home-contact .contact-home-text h1 {
      color: #fff;
      text-transform: capitalize;
      font-size: 45px; }
    .home-contact .contact-home-text p {
      font-size: 20px;
      color: #fff; }

.contact-home-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 25px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .contact-home-form .form-control {
    margin-bottom: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    min-height: 45px; }
  .contact-home-form .btn {
    width: 100%;
    display: block; }

#features {
  padding: 80px 0;
  background-color: #fff; }

.feature-box {
  margin-bottom: 40px;
  text-align: center; }
  .feature-box i {
    font-size: 40px;
    display: block;
    margin-bottom: 15px; }
  .feature-box h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize; }

.aside-feature-row {
  padding: 50px 0;
  overflow: hidden; }
  .aside-feature-row h3 {
    color: #000;
    font-size: 30px;
    line-height: 44px;
    font-weight: 400; }
  .aside-feature-row p {
    font-weight: normal;
    font-size: 15px; }
  .aside-feature-row ul {
    margin-bottom: 30px; }
    .aside-feature-row ul li {
      font-size: 16px;
      line-height: 40px;
      display: block;
      font-weight: normal; }
      .aside-feature-row ul li i {
        margin-right: 10px;
        color: #f56363; }

/**video section **/
.wide-image-wrapper {
  background-color: #f6f8fa;
  padding: 0; }
  .wide-image-wrapper .img-right {
    background: url(../images/bgbg.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 500px; }
  .wide-image-wrapper h3 {
    color: #333;
    font-size: 30px;
    font-weight: 300;
    padding-top: 30px; }
  .wide-image-wrapper p {
    padding-bottom: 30px; }
  .wide-image-wrapper .btn {
    margin-bottom: 30px; }

/**newsletter**/
.newsletter-section {
  padding: 80px 0;
  background-color: #f6f8fa; }
  .newsletter-section .form-control {
    height: 47px; }
  .newsletter-section .error {
    border-color: #b92c28;
    color: #b92c28; }
  .newsletter-section .success {
    border-color: #5cb85c;
    color: #5cb85c; }

/**testimonials**/
.testi-box {
  padding: 15px;
  background-color: #f6f8fa;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .testi-box .thumb {
    display: block;
    width: 90px;
    float: left;
    margin-right: 20px; }
  .testi-box .testi-text {
    overflow: hidden;
    padding-left: 10px; }
  .testi-box .rating {
    display: block; }
  .testi-box h4 {
    color: #f56363;
    font-size: 15px;
    font-style: italic;
    font-weight: 500; }
  .testi-box.right .thumb {
    float: right;
    margin-right: 0;
    margin-left: 20px; }

/**video modal**/
.video-modal .modal-header {
  border: none;
  padding: 0;
  position: relative; }
.video-modal .modal-content {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
.video-modal .modal-body {
  padding: 0px;
  padding-top: 0; }
.video-modal button.close {
  font-size: 25px;
  font-weight: 300;
  text-shadow: none;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: none;
  position: absolute;
  right: 0px;
  bottom: 5px;
  z-index: 10; }

/**gallery**/
.gallery-container {
  padding: 80px 0; }

.gallery {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px; }
  .gallery img {
    width: 100%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .gallery .gallery-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .gallery .gallery-overlay a {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      top: 100%;
      margin-top: -20px;
      left: 50%;
      margin-left: -20px;
      font-size: 35px;
      background-color: transparent;
      color: #fff;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
  .gallery:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .gallery:hover .gallery-overlay {
    opacity: 1; }
    .gallery:hover .gallery-overlay a {
      top: 50%; }

/**services**/
.services-section {
  padding: 80px 0;
  border-top: 1px solid #eee;
  overflow: hidden; }

/**clients**/
.clients {
  background: url("../images/brickwall.png") repeat;
  padding: 30px 0; }
  .clients ul {
    margin: 0;
    padding: 0; }

/**contact**/
.contact-section {
  padding: 80px 0; }
  .contact-section .form-control {
    min-height: 49px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-bottom: 15px; }

@media (max-width: 991px) {
  .contact-home-text {
    padding: 40px 0; } }
@media (max-width: 767px) {
  .banner-intro h1 {
    font-size: 17px;
    line-height: 10px; }

  .contact-home-text {
    padding: 0px 0; }

  .banner-intro .banner-buttons .btn-white {
    display: none; }

  .banner-intro .banner-buttons {
    margin-top: 0px; }

  .header-v1 .navbar-brand {
    line-height: 33px; }

  .header-v2 .navbar-brand {
    line-height: 16px; }

  .home-newsletter {
    padding-top: 80px;
    padding-bottom: 40px; }

  .assan-newsletter .input-group, .assan-newsletter .input-group-btn, .assan-newsletter .btn {
    width: 100%;
    display: block; }

  .home-newsletter h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px; }

  .assan-newsletter .form-control {
    margin-bottom: 10px;
    font-size: 13px; } }
@media (max-width: 375px) {
  .input-group .form-control, .input-group-addon, .input-group-btn {
    display: inherit; }

  .assan-newsletter .form-control {
    margin-bottom: 10px;
    font-size: 13px; }

  .footer .footer-bottom .list-inline li a {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
